<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">

            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Marta Pancaldi</h2>
                <div class="tagline mb-3">Software Engineer</div>
                <div class="bio mb-4">I'm a junior software engineer based in Manchester (UK), currently working at BookingGo, specialised in Java and web development.<br>
                    I recently graduated from the University of Manchester with a MSc in Advanced Computer Science.<br>
                    <a class="link-on-bg" target="_blank" href="https://pensieridinchiostro.wordpress.com/">Fiction writer</a>,
                    <a class="link-on-bg" target="_blank" href="https://www.youtube.com/watch?v=F_VM95pANBk">oboist</a> and
                    <a class="link-on-bg" href="/photos.html">travel photographer</a> in my free time.<br>
                    <!--                    Check out my project <a class="link-on-bg" href="projects.html">portfolio</a>, <a class="link-on-bg" href="resume.html">online CV</a>.-->
                </div><!--//bio-->
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="/projects.html">
                        <span class="d-none d-md-inline"><i class="fas fa-code fa-fw mr-2"></i>View</span> Projects
                    </a>
                    <a class="btn btn-secondary mb-3" href="/cv.html">
                        <span class="d-none d-md-inline"><i class="fas fa-file-alt fa-fw mr-2"></i>View</span> CV</a>
                </div>
            </div><!--//media-body-->
            <!--            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="assets/images/profile.png" alt="profile picture">-->
        </div>
    </div>
</section>