<section class="overview-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">Software Development</h2>
        <div class="section-intro mb-5">I have more than 10 years' experience building software for clients all over the
            world. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out
            more about my experience? Check out my <a href="resume.html">online resume</a> and <a href="portfolio.html">project
                portfolio</a>.
        </div>
        <div class="row">
            <!-- JAVA -->
            <div class="item col-12 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/java.svg" alt="Java" width="35px">
                    <h3 class="item-title">Java</h3>
                    <div class="item-desc">I've worked with Java for 5 years and I developed various projects for
                        university and personal development, including a Library Management software and a Restaurant
                        reservations and take-away webapp in JSP.<br>Check out my projects <a
                                href="/projects.html">here</a>.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- PYTHON -->
            <div class="item col-12 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/python.svg" alt="Python" width="35px">
                    <h3 class="item-title">Python</h3>
                    <div class="item-desc">I taught myself Python and it quickly became one of my favourite languages. I
                        mainly used it to develop an automated assessment tool for programming assignments, which was
                        the subject of my MSc Dissertation.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- JS, React & Angular  -->
            <div class="item col-6 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/js.svg" alt="Javascript" width="35px">
                    <img src="/assets/images/languages/jquery.svg" alt="Javascript" width="35px">
                    <img src="/assets/images/languages/angular.svg" alt="Angular" width="35px">
                    <img src="/assets/images/languages/react.svg" alt="React" width="35px">
                    <h3 class="item-title">JS, Angular, React</h3>
                    <div class="item-desc">I delved into JavaScript during my work placements. In particular, I
                        developed an interactive timesheet with Angular, and I've learnt React in my current job,
                        building components for the Rentalcars.com website.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- C# -->
            <div class="item col-6 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/cs.svg" alt="C #" width="35px">
                    <h3 class="item-title">C#</h3>
                    <div class="item-desc"><i>Medicus</i>, a medical products online store, was a group project I worked
                        on for the Information Security course of my BSc. It used ASP.NET and focused on security and
                        privacy for customers.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- HTML, CSS -->
            <div class="item col-6 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/html.svg" alt="HTML" width="35px">
                    <img src="/assets/images/languages/css.svg" alt="CSS" width="35px">
                    <img src="/assets/images/languages/sass.svg" alt="Sass" width="35px">
                    <h3 class="item-title">Web development</h3>
                    <div class="item-desc"></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- SQL -->
            <div class="item col-6 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/mysql.svg" alt="MySQL" width="35px">
                    <img src="/assets/images/languages/postgres.svg" alt="Postgres" width="35px">
                    <h3 class="item-title">SQL</h3>
                    <div class="item-desc">A Library Management app was the project that introduced me to complex
                        Database architectures. Since then I designed several systems for both personal and work
                        projects, mostly with Postgres and MySQL.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- PHP -->
            <div class="item col-6 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/php.svg" alt="php" width="35px">
                    <h3 class="item-title">PHP</h3>
                    <div class="item-desc">A Library Management app was the project that introduced me to complex
                        Database architectures. Since then I designed several systems for both personal and work
                        projects, mostly with Postgres and MySQL.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <!-- OS -->
            <div class="item col-6 col-md-4 col-lg-4">
                <div class="item-inner">
                    <img src="/assets/images/languages/win8.svg" alt="Windows" width="35px">
                    <img src="/assets/images/languages/apple.svg" alt="Macintosh" width="35px">
                    <img src="/assets/images/languages/ubuntu.svg" alt="Ubuntu" width="35px">
                    <img src="/assets/images/languages/debian.svg" alt="Debian" width="35px">
                    <h3 class="item-title">OS</h3>
                    <div class="item-desc">A Library Management app was the project that introduced me to complex
                        Database architectures. Since then I designed several systems for both personal and work
                        projects, mostly with Postgres and MySQL.
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section>
