<section class="overview-section p-3 p-lg-3">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">Languages</h2>
        <div class="row">
            <div class="item col-6 col-sm-6 col-lg-3">
                <div class="school-title-container">
                    <img class="school-icon" src="/assets/images/flags/uk.svg" alt="English">
                    <div class="school-title">
                        <h5 class="item-title">Fluent (C2)</h5>
                    </div>
                </div>
            </div><!--//item-->

            <div class="item col-6 col-sm-6 col-lg-3">
                <div class="school-title-container">
                    <img class="school-icon" src="/assets/images/flags/ita.svg" alt="Italian">
                    <div class="school-title">
                        <h5 class="item-title">Native</h5>
                    </div>
                </div>
            </div><!--//item-->

            <div class="item col-6 col-sm-6 col-lg-3">
                <div class="school-title-container">
                    <img class="school-icon" src="/assets/images/flags/deu.svg" alt="German">
                    <div class="school-title">
                        <h5 class="item-title">Good (B2)</h5>
                    </div>
                </div>
            </div><!--//item-->

            <div class="item col-6 col-sm-6 col-lg-3">
                <div class="school-title-container">
                    <img class="school-icon" src="/assets/images/flags/fra.svg" alt="French">
                    <div class="school-title">
                        <h5 class="item-title">Basic (A2)</h5>
                    </div>
                </div>
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section>
