<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html"> {{ site.title }}</a></h1>

    <nav class="navbar navbar-expand-lg navbar-dark" >

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/profile.png" alt="image" >

                <div class="bio mb-3">
                    <h5 class="mb-0" style="color: #fff">Software Engineer</h5>
                </div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/martapancaldi/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/martapanc"><i class="fab fa-github fa-fw"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://gitlab.com/mpancaldi"><i class="fab fa-gitlab fa-fw"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/pancakemarta/"><i class="fab fa-instagram fa-fw"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://steamcommunity.com/id/martap/"><i class="fab fa-steam fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-left">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i>Home <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/index.html"><i class="fas fa-user fa-fw mr-2"></i>About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cv.html"><i class="fas fa-file-alt fa-fw mr-2"></i>CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects.html"><i class="fas fa-code fa-fw mr-2"></i>Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photos.html"><i class="fas fa-globe fa-fw mr-2"></i>Travel photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog.html"><i class="fas fa-blog fa-fw mr-2"></i>Blog</a>
                </li>
            </ul>

            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="mailto:mpancaldi@outlook.com" target="_blank">Get in Touch</a>
            </div>
        </div>
    </nav>
</header>