<section class="overview-section p-3 p-lg-3">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">Education</h2>
        <div class="row">
            <div class="item col-12 col-sm-12">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="/assets/images/schools/uom.png" alt="University of Manchester">
                        <div class="school-title">
                            <h5 class="item-title">University of Manchester
                                <img class="responsive-hide" src="/assets/images/flags/uk.svg" alt="UK" width="30">
                                <span class="responsive-hide">Distinction &emsp; 2017-2018</span>
                            </h5>
                            <h6 class="item-title">MSc in Advanced Computer Science</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        <ul>
                            <li>Specialised in Software Engineering: programming, Agile and TDD, design patterns and
                                components
                            </li>
                            <li>Elective courses in Data Engineering and IT Governance</li>
                            <li>MSc dissertation project on building automated assessment tools for programming
                                exercises
                            </li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-sm-12">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="/assets/images/schools/unibz.jpeg" alt="University of Bolzano">
                        <div class="school-title">
                            <h5 class="item-title">Free University of Bolzano
                                <img class="responsive-hide" src="/assets/images/flags/ita.svg" alt="Italy" width="30">
                                <span class="responsive-hide">106 / 110 &emsp; 2014-2017</span>
                            </h5>
                            <h6 class="item-title">BSc in Computer Science</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        <ul>
                            <li>The only Italian university that offers a BSc in Computer Science taught in English</li>
                            <li>Trilingual teaching (
                                <img src="/assets/images/flags/uk.svg" alt="English" width="20">
                                <img src="/assets/images/flags/deu.svg" alt="German" width="20">
                                <img src="/assets/images/flags/ita.svg" alt="Italian" width="20">
                                ) with an international curriculum
                            </li>
                            <li>Among the ten world's best small universities (Times Higher Education 2017)</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->

        <div class="row">
            <div class="item col-12 col-sm-12">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="/assets/images/schools/cofc.png" alt="College of Charleston">
                        <div class="school-title">
                            <h5 class="item-title">College of Charleston
                                <img class="responsive-hide" src="/assets/images/flags/usa.svg" alt="USA" width="30">
                                <span class="responsive-hide">GPA 4.0 &emsp; 2015-2016</span>
                            </h5>
                            <h6 class="item-title">Exchange Semester</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        <ul>
                            <li>Funded by the UniBZ "Erasmus+/Overseas" scholarship for international studies</li>
                            <li>Main courses: Software Engineering, Networks, Statistical Methods, Discrete Maths and Calculus</li>
                            <li>Part of the College orchestra</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-sm-12">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="/assets/images/schools/peri.png" alt="Istituto Achille Peri">
                        <div class="school-title">
                            <h5 class="item-title">"A. Peri" Music School
                                <img class="responsive-hide" src="/assets/images/flags/ita.svg" alt="Italy" width="30">
                                <span class="responsive-hide">2003-2015</span>
                            </h5>
                            <h6 class="item-title">Diploma in Oboe</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        <ul>
                            <li>Masterclass with Luca Vignali, oboist at Rome Opera House</li>
                            <li>Several local events, with the school’s orchestra or chamber groups</li>
                            <li>Performances in Rome, Milan and other cities as part of the System of Italian Youth Orchestras</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

        </div><!--//row-->
    </div><!--//container-->
</section>
