
<section class="overview-section p-3 p-lg-3">
    <div class="container">
        <div class="row">
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711624973258" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/barcelona.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Spain
                        <img class="responsive-hide" src="{{ '/assets/images/flags/es.svg' | prepend: site.baseurl }}" alt="ES" width="25">
                    </div>
                </a>
            </figure>

            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711600776517" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/berlin.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Berlin
                        <img class="responsive-hide" src="{{ '/assets/images/flags/deu.svg' | prepend: site.baseurl }}" alt="DE" width="25">
                    </div>
                </a>
            </figure>

            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711610738666" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/bratislava.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Bratislava
                        <img class="responsive-hide" src="{{ '/assets/images/flags/sk.svg' | prepend: site.baseurl }}" alt="SK" width="25">
                    </div>
                </a>
            </figure>

            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711611503291" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/charleston.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">South Carolina
                        <img class="responsive-hide" src="{{ '/assets/images/flags/usa.svg' | prepend: site.baseurl }}" alt="US" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711611624007" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/fuerteventura.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Fuerteventura
                        <img class="responsive-hide" src="{{ '/assets/images/flags/es.svg' | prepend: site.baseurl }}" alt="ES" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711600820401" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/iceland.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Iceland
                        <img class="responsive-hide" src="{{ '/assets/images/flags/is.svg' | prepend: site.baseurl }}" alt="IS" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="/" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/ireland.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Ireland
                        <img class="responsive-hide" src="{{ '/assets/images/flags/ie.svg' | prepend: site.baseurl }}" alt="IE" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711600468561" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/jrl.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Manchester
                        <img class="responsive-hide" src="{{ '/assets/images/flags/uk.svg' | prepend: site.baseurl }}" alt="UK" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="/" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/lisbon.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Lisbon
                        <img class="responsive-hide" src="{{ '/assets/images/flags/pt.svg' | prepend: site.baseurl }}" alt="PT" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711609959892" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/london.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">London
                        <img class="responsive-hide" src="{{ '/assets/images/flags/uk.svg' | prepend: site.baseurl }}" alt="UK" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711600727452" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/madeira.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Madeira
                        <img class="responsive-hide" src="{{ '/assets/images/flags/pt.svg' | prepend: site.baseurl }}" alt="PT" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="/" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/new-york.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">New York
                        <img class="responsive-hide" src="{{ '/assets/images/flags/usa.svg' | prepend: site.baseurl }}" alt="US" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711602308838" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/oxford.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Oxford
                        <img class="responsive-hide" src="{{ '/assets/images/flags/uk.svg' | prepend: site.baseurl }}" alt="UK" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="/" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/rome.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Rome
                        <img class="responsive-hide" src="{{ '/assets/images/flags/ita.svg' | prepend: site.baseurl }}" alt="IT" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="/" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/san-francisco.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">California
                        <img class="responsive-hide" src="{{ '/assets/images/flags/usa.svg' | prepend: site.baseurl }}" alt="US" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711613247653" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/shanghai.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Shanghai
                        <img class="responsive-hide" src="{{ '/assets/images/flags/zh.svg' | prepend: site.baseurl }}" alt="ZH" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="/" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/south-tyrol.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">South Tyrol
                        <img class="responsive-hide" src="{{ '/assets/images/flags/ita.svg' | prepend: site.baseurl }}" alt="IT" width="25">
                    </div>
                </a>
            </figure>
            <figure class="col-md-4 col-sm-6 col-6 d-md-inline-block">
                <a href="https://www.flickr.com/photos/185365090@N08/albums/72157711612756003" data-size="1600x1067" target="_blank">
                    <img src="{{ '/assets/images/photos/vienna.webp' | prepend: site.baseurl }}" class="img-fluid" alt="Photo">
                    <div class="photo-title middle text">Vienna
                        <img class="responsive-hide" src="{{ '/assets/images/flags/at.svg' | prepend: site.baseurl }}" alt="AT" width="25">
                    </div>
                </a>
            </figure>
        </div><!--//container-->
        <hr class="mt-2 mb-5">
    </div>
</section>
