<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
            integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
            crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{'/assets/css/main.css' | prepend: site.baseurl}}">
    <!--  <link id="theme-style" rel="stylesheet" href="css/styles.css">-->
    <!--    <link rel="stylesheet" href="/_sass/styles.css">-->

    <link rel="stylesheet" href="{{'/assets/css/nanogallery2/nanogallery2.min.css' | prepend: site.baseurl}}"
          type="text/css">

    <link rel="stylesheet"
          href="{{'/assets/css/github-calendar/github-calendar-responsive.css' | prepend: site.baseurl}}"
          type="text/css">
</head>

<body>

{% include sidebar.html %}

<div class="main-wrapper">

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

</div><!--//main-wrapper-->

<script src="{{'/assets/js/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/jquery.nanogallery2.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/github-calendar.min.js' | prepend: site.baseurl}}"></script>

<script>
    GitHubCalendar(".calendar", "martapanc", {responsive: true, summary_text: "", global_stats: true});
</script>
</body>
</html>

