<section class="overview-section p-3 p-lg-3">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">Work Experience</h2>
        <div class="row">
            <div class="item col-12 col-sm-12">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="{{ '/assets/images/work/booking.png' | prepend: site.baseurl }}" alt="Booking.com">
                        <div class="school-title">
                            <h5 class="item-title">BookingGo (Rentalcars.com) ~ Manchester
                                <span class="responsive-hide">2018 - present</span>
                            </h5>
                            <h6 class="item-title">Graduate Software Engineer</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        <ul>
                            <li>Main technologies used: Java, JavaScript, React, PHP, MySQL, Docker</li>
                            <li>Everyday development follows the Agile principles, in particular the Kanban approach,
                                including activities like pair programming and testing, code reviews, daily stand-ups an
                                retros
                            </li>
                            <li>Recently involved in interviewing students who applied for the BookingGo grad scheme</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-sm-12" style="margin-bottom: 1rem">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="{{ '/assets/images/work/unibz.jpeg' | prepend: site.baseurl }}" alt="Unibz">
                        <div class="school-title">
                            <h5 class="item-title">UniBZ - Faculty of Computer Science
                                <span class="responsive-hide">2017 - 2018</span>
                            </h5>
                            <h6 class="item-title">Research Assistant</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        Collaboration in writing an article for IEEE about contracts and policies of cloud services,
                        following the changes introduced by the new European law on data protection (GDPR).
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-sm-12">
                <div class="item-inner">
                    <div class="school-title-container">
                        <img class="school-icon" src="{{ '/assets/images/work/ict.png' | prepend: site.baseurl }}" alt="ICT Group">
                        <div class="school-title">
                            <h5 class="item-title">ICT Group ~ Reggio Emilia
                                <span class="responsive-hide">2016 - 2017</span>
                            </h5>
                            <h6 class="item-title">Intern - Software Developer</h6>
                        </div>
                    </div>
                    <div class="item-desc">
                        <ul>
                            <li>Development of a web portal for the request and management of the employees' holidays and permits.</li>
                            <li>Main technologies: HTML, CSS, Javascript, AngularJS, JQuery, NodeJS, Java, MongoDB, Wildfly</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div>

    </div><!--//container-->
</section>
